@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: top center;      
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;   
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;        
}

section#telefone{
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    background-image: url(../imagens/frame-iphone.png);
}

iframe#tela{
    position: absolute;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}